<div class="page-header">
    <h1>Puntos</h1>
</div>

<a href="/puntos/importar" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-save"></span> Importar</a>

{{#if rankingList }}
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Usuario</th>
            <th>Puntos</th>
        </tr>
        </thead>
        <tbody>
        {{#each rankingList}}
            <tr>
                <td><strong>{{add @index 1}}</strong></td>
                <td><a href="http://twitch.tv/{{userName}}" target="_blank">{{userName}}</a></td>
                <td>{{points}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/if}}