<div class="page-header">
    <h1>Song Request</h1>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <div id="js-youtube-player"></div>
    </div>
    <div class="col-md-8">
      <p><strong>Canción:</strong> Foo Fighters - The Pretender</p>
      <p><strong>Agregada:</strong> <a href="">vallelblanco</a> (10/Mayo/2017)</p>

      <button class="btn btn-warning">Saltar canción <span class="glyphicon glyphicon-step-forward"></span></button>
      <button class="btn btn-danger">Vetar canción <span class="glyphicon glyphicon-ban-circle"></span></button>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Basic panel example
  </div>
</div>
