<div class="page-header">
    <h1>Song Request</h1>
</div>

<div class="well">
  <div class="row">
    <div class="col-md-5">
      <div id="js-youtube-player"></div>
    </div>
    <div class="col-md-7">
      <h4>Canci贸n actual:</h4>
      <p><span class="glyphicon glyphicon-music"></span> Foo Fighters - The Pretender</p>
      <p><span class="glyphicon glyphicon-user"></span> <a href="">vallelblanco</a></p>
      <p><span class="glyphicon glyphicon-calendar"></span> 10/Mayo/2017</p>

      <button class="btn btn-warning">Saltar canci贸n <span class="glyphicon glyphicon-step-forward"></span></button>
      <button class="btn btn-danger">Vetar canci贸n <span class="glyphicon glyphicon-ban-circle"></span></button>
    </div>
  </div>
</div>

<h4>Lista de reproducci贸n:</h4>
{{#if songs}}
<table class="table">
    {{#each songs}}
    <tr>
        <td><span class="glyphicon glyphicon-music"></span> {{title}}</td>
        <td><span class="glyphicon glyphicon-user"></span> <a href="">{{username}}</a></td>
        <td><span class="glyphicon glyphicon-calendar"></span> {{date}}</td>
        <td class="col-md-2 text-right">
            <a href="" class="btn btn-xs btn-danger glyphicon glyphicon-trash"></a>
        </td>
    </tr>
    {{/each}}
</table>
{{/if}}
