var conf = {
    twitchApp: {
        clientId: '<YOUR TWITCH CLIENT ID>',
        secretKey: '<SECRET KEY>',
        redirectUrl: '<REDIRECT URL>',
        scope: '<SCOPE>'
    },
    botOauth: {
        username: '<BOT USERNAME>',
        oAuthKey: '<BOT USER OAUTH>'
    },
    youtube: {
        apiKey: '<YOUTUBE API KEY>'
    }
};

module.exports = conf;